.ClientHighlight {
  margin-top: 6rem;

    &-header{
      text-align: center;

        &-title{
            text-transform: uppercase;
            color: $blue;
            margin-bottom: 2rem;
            font-size: 1.5rem;
        }

        &-title::after{
            content: "";
            border: 1px solid $blue;
            width: 2rem;
            height: 2px;
            position: relative;
            top: -5px;
            left: 4px;
            display: inline-block;
            transform: rotate(180deg);
        }
        &-img-one {
            width: 80%;
        }

        &-paragraph{
            font-size: 20px;
            font-weight: 600;
            width: 26rem;
            position: relative;
            top: -18rem;
            left: 12rem;
            text-transform: uppercase;
            line-height: 30px;

            &-span {
                position: relative;
                top: -2rem;
                font-size: 30px;
            }
        }
    }

    &-description {
        display: flex;
        justify-content: center;

        &-img-two {
            width: 15rem;
            position: relative;
            left: -9rem;
            margin-top: 2rem;

        }

        &-paragraph {
            width: 25rem;
            font-size: 23px;
            text-align: justify;
            margin-top: 4rem;
            line-height: 38px;
            position: relative;
            left: 5rem;

            &-a {
                text-decoration: none;
                margin: 0 10px;
                color:  $blue ;
            }
        }
    }

    &-testimonial {
        margin-top: 6rem;
        margin-bottom: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;


        &-title {
            font-size: 2rem;
            text-transform: uppercase;
            align-self: flex-start;
        }

        &-title::after {
            content: "";
            border: 1px solid $black;
            width: 1.5rem;
            height: 2px;
            position: relative;
            top: -5px;
            left: 4px;
            display: inline-block;
            transform: rotate(180deg);
        }

        &-photo-client {
                &-img-three {
                    width: 11rem;
                    margin-top: 1rem;
                }

                &-paragraph {
                    font-size: 24px;

                    &-a{
                        text-decoration: none;
                        color:  $black;
                    }
                }
        }


        &-paragraph {
            font-size: 22px;
            position: relative;
            max-width: 40rem;
            line-height: 32px;

        }
    }
}
