.company-description {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-header {
    color: $red;
    font-weight: 777;
    text-transform: uppercase;
    font-size: 2rem;
    font-size: 1.5vw;
  }

  &-content {
    &-container {

      display:flex;
      align-items: center;

      &-text {
        margin-left: 5rem;
        margin-top: 3rem;

       &-title {
         text-transform: uppercase;
         font-size: 1.5rem;
         margin-bottom: 1.5rem;
       }

       &-paragraph {
         font-size: 20px;
         width: 17rem;
         line-height: 32px;
       }
      }
    }
  }
}

.paragraph-2{
  margin-top: 3.2rem;
}
