
.title-team{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    background-image: linear-gradient(to right, $blue-dark ,$blue ,$blue-dark);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Oleo Script', cursive;
    margin: 4rem 2rem 0;
}

.Team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: $blue-dark;
    width: 84.3rem;
    position: relative;
    left: -3rem;
    min-height: 100vh;
}

// .Team::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: linear-gradient(#f00, #f0f);
//     clip-path: circle(30% at right 70%);
//     filter: blur(8000px);
// }

// .Team::after {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: linear-gradient(#2196f3, #e91e63);
//     clip-path: circle(20% at 10% 10%);
 
// }

.container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0;
}

.container .card{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 10px 42px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;  
    backdrop-filter: blur(10px);
    border-top:1px solid rgba(255, 255, 255, 0.3);
    border-left:  1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
}
.container .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    transform: skewX(45deg) translateX(500px);
    transition: 0.5s;
    opacity: .7;
}

.container .card:hover:before {
    transform: skewX(45deg) translateX(-500px);
}

.container .card .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}

.container .card:hover .content{
    opacity: 1;
    transform: translateY(-20px);

}

.container .card .content .imgBx {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
    box-shadow: 1px 9px 7px 0px rgba(0,0,0,0.80);
}

.container .card .content .imgBx .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .card .content .imgBx .j {
    width: 213px;
    left: -3rem;
}

.container .card .content .imgBx .m {
    width: 202px;
    left: -28px;
}

.container .card .content .contentBx .title {
    color: $white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px ;
    line-height: 1.1em;
    font-family: 'Oleo Script', cursive;
    
}

.container .card .content .contentBx .title .span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
    

}

.container .card .list {
     position: absolute;
     bottom: 50px;
     display: flex;

}

.container .card .list .sublist {
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
}

.container .card:hover .list .sublist{
    transform: translateY(0px);
    opacity: 1;
} 

.container .card .list .sublist .a {
    color:  $white;
    font-size: 24px;
}

.fa-facebook {
    box-shadow: 1px 9px 7px 0px rgba(0,0,0,0.40);
}

.fa-twitter {
    box-shadow: 1px 9px 7px 0px rgba(0,0,0,0.40);
}

.fa-instagram {
    box-shadow: 1px 9px 7px 0px rgba(0,0,0,0.40);
}