$blue: #78CAE6;
$blue-2:#0075ff ;
$blue-dark: #2d3dff;
$red-dark: #ff1111;
$red: #CD4040;
$red-2: #d35555;
$red-ligth: #f56a6a;
$red-ligth-2: #fca7a7;
$blue-dark:#161623;
$white: #fff;
$gray: #e5e5e5;
$gray-2:#f2f2f2;
